body {
  font-family: "Comfortaa", sans-serif;
}

ul {
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #072448;
  font-size: 16px;
}

.background {
  background-color: #fffff0;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  min-height: 100vh;
}

.container {
  flex-grow: 1;
}

/* CSS For title styling/animations */
.text-line {
  stroke-dasharray: 550;
  stroke-dashoffset: 500;
  animation: dash 3s linear forwards, filling 3s ease-in forwards;
  font-size: 90px;
}

.text-line text {
  font-size: 90px;
  font-family: nasalization;
  font-weight: normal;
  font-style: normal;
}

@media screen and (max-width: 768px) {
  .text-line text {
    font-size: 80px;
  }
}

@media screen and (max-width: 575px) {
  .text-line text {
    font-size: 60px;
  }
}

@media screen and (max-width: 425px) {
  .text-line text {
    font-size: 40px;
  }
}