@font-face {
  font-family: "nasalization";
  src: local("nasalization"), url("../../assets/fonts/nasalization-rg.otf") format("woff");
}

.H-Title {
  color: #072448;
  
  padding: 20px 0px;
  font-size: 90px;
  text-shadow: 0px 0px 6px rgba(57, 62, 65, 0.6);
  font-family: nasalization;
}

.H-Container {
  display: flex;
  align-items: center;
  min-height: 80vh;
}

.H-Column {
  padding: 200px;
}

.H-Info {
  border-top: 2px solid #ffd700;
  padding-top: 10px;
  color: #072448;
}

.H-Button {
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 7px;
  width: 180px;
  background-color: #072448;
  border: #072448;
  color: #ffd700;
  border-radius: 15px;
  transition: background-color 0.3s ease;
}

.H-Button:hover {
  background-color: #ffd700;
  color: #072448;
}

.text-line {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: dash 3s linear forwards, filling 3s ease-in forwards;
  font-size: 90px;
}

.text-line text {
  font-size: 90px;
  font-family: nasalization;
  font-weight: normal;
  font-style: normal;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes filling {
  0%, 100% { fill: #072448; fill-opacity: 0; }
  100% { fill: #072448; fill-opacity: 1; }
}

@media screen and (max-width: 991.98px) {
  .H-Column {
    text-align: center;
    padding: 0;
  }

  .H-Title {
    font-size: 80px;
    font-weight: 800;
  }
}

@media screen and (max-width: 540.98px) {
  .H-Title {
    font-size: 60px;
    font-weight: 800;
  }
}

@media screen and (max-width: 425.98px) {
  .H-Title {
    font-size: 45px;
    font-weight: 800;
  }
}
