.LS-Card {
  padding: 12px 0px;
  background-color: #fafae4;
  box-shadow: 0px 10px 20px 1px rgba(0, 0, 0, 0.3);
  margin: 3rem 0.5rem;
  padding: 2rem;
  color: #072448;
  border: 0.5px solid rgb(218, 218, 218);
}

.LS-LoginTitle {
  padding: 10px 0px;
  border-bottom: solid 2px #ffd700;
}

.LS-SignupTitle {
  padding: 10px 0;
  margin-bottom: 10px;
  border-bottom: solid 2px #ffd700;
}

.formContainer {
  color: #001f3f;
  text-align: middle;
}

.formInput {
  border-radius: 20px;
  border: #001f3f;
  background-color: #001f3f;
  color: #ffffff;
}

.formInput::placeholder {
  color: rgb(250, 250, 250, 0.5);
  opacity: 1;
}

.formInput:focus {
  border: #001f3f;
  background-color: #001f3f;
  color: rgb(250, 250, 250);
}

.LS-text-line {
  stroke-dasharray: 550;
  stroke-dashoffset: 500;
  animation: dash 3s linear forwards, filling 3s ease-in forwards;
  font-size: 90px;
}

.LS-text-line text {
  font-size: 40px;
  font-family: nasalization;
  font-weight: normal;
  font-style: normal;
}

@media screen and (max-width: 767.98px) {
  .LS-LoginTitle {
    padding: 70px 0px 10px 0px;
    border-bottom: solid 2px #ffd700;
  }
}
